@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: var(--grayDark);
}

h1 {
  @apply text-3xl font-semibold  py-3;
}

h2 {
  @apply text-xl font-semibold p-2;
}

@media (min-width: 768px) {
  h1 {
    @apply text-4xl font-semibold  py-8;
  }

  h2 {
    @apply text-2xl font-semibold p-4;
  }
}

.img-product {
  position: relative;
  width: 100%;
  min-height: 100%;
}

option {
  @apply text-sm;
}

/* ---------- ANIMATION ----------------- */

.slide-in {
  animation: slideIn 0.3s ease-in;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out {
  animation: slideOut 0.3s ease-out;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
